# DON'T FORGET TO RENAME TO .env OR .env.local BEFORE PUSHING TO GIT

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set for local development only

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://app.localhost:3000

### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set for local development and when deployed on Vercel

# Change this to your own domain
NEXT_PUBLIC_ROOT_DOMAIN=vercel.pub

# PostgreSQL database URL – get one here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_PRISMA_URL=

# Vercel Blob Storage for image uploads – get one here: https://vercel.com/docs/storage/blob/quickstart
BLOB_READ_WRITE_TOKEN=

# GitHub OAuth for auth & login – get one here: https://docs.github.com/en/developers/apps/building-oauth-apps/creating-an-oauth-app
GITHUB_ID=
GITHUB_SECRET=

# Secret key for NextAuth (generate one here: https://generate-secret.vercel.app/32)
NEXTAUTH_SECRET=

# https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=
# https://vercel.com/<org>/<project>/settings
PROJECT_ID_VERCEL=
# https://vercel.com/teams/<org>/settings
TEAM_ID_VERCEL=
