### DEVELOPMENT ONLY VARIABLES

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://app.localhost:3000

## PRODUCTION & DEVELOPMENT VARIABLES

# MySQL database URL for Prisma
DATABASE_URL="mysql://root@127.0.0.1:3309/platforms"
SHADOW_DATABASE_URL="mysql://root@127.0.0.1:3310/platforms"

# Twitter OAuth
TWITTER_ID=
TWITTER_SECRET=
TWITTER_AUTH_TOKEN=

# Secret key (generate one here: https://generate-secret.vercel.app/32)
SECRET=

AUTH_BEARER_TOKEN=
VERCEL_PROJECT_ID=
VERCEL_TEAM_ID=
