.landing-page-nav-backdrop {
  position: absolute;
  inset: 0;
  bottom: calc(-1 * 100px);
  mask-image: linear-gradient(to bottom,
      black 0,
      black calc(100% - 100px),
      transparent calc(100% - 100px));
  -webkit-mask-image: linear-gradient(to bottom,
      black 0,
      black calc(100% - 100px),
      transparent calc(100% - 100px));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}