@import url("/fonts/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}
